<link rel="stylesheet" media="screen and (min-width:500px)" href="./stylesheets/announce.css"  type="text/css" />
<link rel="stylesheet" media="screen and (max-width:500px)" href="./stylesheets/announce_mobile.css"  type="text/css" />
<div class="type">
    <a class="choose_type" href="./announce_homework">
        <div class="icon homework_icon"></div>
        <h1>发布作业</h1>
    </a>
    <a class="choose_type" href="./announce_mes">
        <div class="icon mes_icon"></div>
        <h1>发布公告</h1>
    </a>
</div>
