<link rel="stylesheet" media="screen and (min-width:500px)" href="./stylesheets/homework.css"  type="text/css" />
<link rel="stylesheet" media="screen and (max-width:500px)" href="./stylesheets/homework_mobile.css"  type="text/css" />
<div class="finish_icon">
    <h1 class="unCompleted"></h1>
    <h1 class="finished"></h1>
</div>
<div class="line">
    <div class="patch"></div>    
</div>
<div class="container_homework">
    <div class="self_content">
        <div class="finish card">
            <ul>
                <li>
                    <div class="time">
                        <span class="year">2016</span>
                        <span class="month">9月</span>
                        <span class="day">12</span>
                    </div>
                    <img src="" alt="" class="banner">
                    <div class="theme">
                        <div class="theme_content">
                            <h2 class="homework_name">高等数学</h2>
                            <p class="homework_content">课后作业：高数书p193页8，9，10题
                                &nbsp;&nbsp;&nbsp;&nbsp;预习作业：书p200,第六章
                            </p>
                        </div>
                    </div>
                    <div class="todo">
                        <span class="finish_icon"></span>
                    </div>
                </li>
                <li>
                    <div class="time">
                        <span class="year">2016</span>
                        <span class="month">9月</span>
                        <span class="day">12</span>
                    </div>
                    <img src="" alt="" class="banner">
                    <div class="theme">
                        <div class="theme_content">
                            <h2 class="homework_name">综合英语</h2>
                            <p class="homework_content">课后作业：英语书p193页8，9，10题
                                &nbsp;&nbsp;&nbsp;&nbsp;预习作业：书p100,第五课
                            </p>
                        </div>
                    </div>
                    <div class="todo">
                        <span class="finish_icon"></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="un_finish card">
            <ul>
                <li>
                    <div class="time">
                        <span class="year">2016</span>
                        <span class="month">9月</span>
                        <span class="day">12</span>
                    </div>
                    <img src="" alt="" class="banner">
                    <div class="theme">
                        <div class="theme_content">
                            <h2 class="homework_name">大学物理</h2>
                            <p class="homework_content">预习作业：电磁学预习。课后作业： 无</p>
                        </div>
                    </div>
                    <div class="todo">
                        <span class="finish_icon"></span>
                    </div>
                </li>
                <li>
                    <div class="time">
                        <span class="year">2016</span>
                        <span class="month">9月</span>
                        <span class="day">12</span>
                    </div>
                    <img src="" alt="" class="banner">
                    <div class="theme">
                        <div class="theme_content">
                            <h2 class="homework_name">概率论</h2>
                            <p class="homework_content">课后作业：书p123 8,9,18题
                                预习作业： 好好看书
                            </p>
                        </div>
                    </div>
                    <div class="todo">
                        <span class="finish_icon"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    var query = new AV.Query('Group_Redrock_Homework');
</script>
<script src="../javascripts/homework.js"></script>
