<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./stylesheets/login.css">
    <link rel="stylesheet" media="screen and (min-width:500px)" href="./stylesheets/login.css"  type="text/css" />
    <link rel="stylesheet" media="screen and (max-width:500px)" href="./stylesheets/sign.css"  type="text/css" />
    <script src="https://cdn1.lncld.net/static/js/av-min-1.2.1.js"></script>
    <script src="./javascripts/jquery.js"></script>
    <title>Document</title>
</head>
<body>
    <content>
        <div class="logo"></div>
        <h1 class="login">Member Login</h1>
        <div class="inputs">
            <div>
                <input type="text" placeholder="Username" class="username">
            </div>
            <div>
                <input type="password" placeholder="Password" class="password">
            </div>
            <div>
                <button class="sub">LOGIN</button>
            </div>
        </div>
        <a class="forget" href="#">Forgot Password?</a>
        <a class="forget" href="/sign">sign now</a>
    </content>
</body>
<script src="./javascripts/initLeanCloud.js"></script>
<script src="./javascripts/login.js"></script>
</html>
