<link rel="stylesheet" media="screen and (min-width:500px)" href="./stylesheets/self.css"  type="text/css" />
<link rel="stylesheet" media="screen and (max-width:500px)" href="./stylesheets/self_mobile.css"  type="text/css" />
<div class="self_content">
    <div class="com revamp">
        <div class="my_message"></div>
        <h2>修改我的信息</h2>
    </div>
    <div class="my_class com">
        <div class="my_class"></div>
        <h2>查看我的班级</h2>
    </div>
    <div class="com">
        <div class="my_post"></div>
        <h2>我发布的消息</h2>
    </div>
    <div class="com">
        <div class="my_post"></div>
        <h2>过期的消息</h2>
    </div>
</div>
<script src="./javascripts/self_ha.js"></script>