.homework_content {
  width: 80%;
  padding-top: 60px;
  margin: 0 auto;
}
.homework_content h1 {
  text-align: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
}
.homework_content .title {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  width: 48%;
  padding-left: 2%;
  height: 30.8px;
  margin: 16px auto;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.homework_content .title i {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/title.png);
  background-size: 100% 100%;
}
.homework_content .title input {
  padding-left: 8px;
  width: 160px;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.homework_content .time {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  width: 48%;
  padding-left: 2%;
  height: 30.8px;
  margin: 16px auto;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.homework_content .time i {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/deadline.png);
  background-size: 100% 100%;
}
.homework_content .time input {
  padding-left: 8px;
  width: 160px;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}
.homework_content .homework_text {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.homework_content .homework_text textarea {
  display: block;
  padding: 16px;
  font-size: 18px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}
.homework_content button {
  display: block;
  width: 35%;
  height: 32px;
  margin: 0 auto;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.01);
  font-size: 13px;
  color: white;
  transition: all 0.8s;
}
.homework_content button:hover {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
}
