.finish_icon {
  display: flex;
  justify-content: space-around;
}
.finish_icon .unCompleted {
  width: 5vw;
  height: 4vw;
  margin: 1vw auto;
  background: url(../images/finish_icon.png);
  background-size: 100% 100%;
}
.finish_icon .finished {
  width: 6vw;
  height: 6vw;
  margin: 1vw auto;
  background: url(../images/unFinished.png);
  background-size: 100% 100%;
}
.self_content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
}
.self_content .card {
  width: 45%;
  min-height: 100vh;
}
.self_content .card ul {
  width: 100%;
  height: 100vw;
  list-style: none;
}
.self_content .card ul li {
  position: relative;
  display: block;
  width: 70%;
  height: 30vw;
  margin: 3vw auto;
  background-color: red;
  box-shadow: 1vw 1vw 0.9vw 0.4vw rgba(0, 0, 0, 0.1), -0.3vw -0.3vw 0.8vw 0.8vw rgba(0, 0, 0, 0.1);
  transition: all .8s;
  cursor: pointer;
  overflow: hidden;
}
.self_content .card ul li .time {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3.5vw;
  height: 5.8vw;
  background-color: #83d5bb;
}
.self_content .card ul li .time span {
  display: block;
  width: 60%;
  margin: .2vw auto;
  font-size: .4vw;
  color: white;
}
.self_content .card ul li .time span.month {
  width: 50%;
}
.self_content .card ul li .time span.day {
  margin: 0 auto;
  padding: 0;
  font-size: 1.8vw;
  font-weight: bold;
}
.self_content .card ul li .banner {
  display: block;
  width: 100%;
  height: 21vw;
  background-color: grey;
}
.self_content .card ul li .theme {
  position: absolute;
  top: 21vw;
  width: 100%;
  height: 46vw;
  padding-bottom: 2.5vw;
  overflow: hidden;
  transition: all .8s;
}
.self_content .card ul li .theme .theme_content {
  position: absolute;
  top: 0px;
  width: 90%;
  height: 44vw;
  padding: 0 5%;
  padding-bottom: 2.5vw;
  background-color: white;
  transition: all .8s;
}
.self_content .card ul li .theme .theme_content h1 {
  width: 100%;
  height: 3vw;
}
.self_content .card ul li .theme .theme_content h1 i {
  float: right;
  width: 2vw;
  height: 2vw;
  margin-right: .5vw;
  background: url(../images/more.png);
  background-size: 100% 100%;
  cursor: pointer;
}
.self_content .card ul li .theme .theme_content h2 {
  font-weight: normal;
  margin: 0 1vw;
  font-size: 2.0vw;
  text-align: center;
  color: black;
}
.self_content .card ul li .theme .theme_content p {
  overflow: auto;
  text-indent: 2em;
  height: 18vw;
  line-height: 2vw;
  font-size: 1.4vw;
  color: black;
}
.self_content .card ul li .todo {
  position: absolute;
  top: 27.5vw;
  left: 0;
  width: 100%;
  height: 2.5vw;
  background-color: #297070;
}
.self_content .card ul li .todo span {
  display: block;
  width: 2.5vw;
  height: 2.5vw;
  margin: 0 auto;
}
.self_content .card ul li .todo span.unFinish_icon {
  background: url(../images/finish.png);
  background-size: 100% 100%;
}
.self_content .card ul li .todo span.finish_icon {
  background: url(../images/unFinish.png);
  background-size: 100% 100%;
}
.self_content .card ul li:hover {
  box-shadow: 1vw 1vw 0.9vw 0.4vw rgba(0, 0, 0, 0.5), -0.3vw -0.3vw 0.8vw 0.8vw rgba(0, 0, 0, 0.5);
}
.self_content .card ul li:hover .theme {
  top: 5.8vw;
}
.self_content .un_finish {
  width: 45%;
  min-height: 100vh;
}
